<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>full stringer list</h1>
    <div class = "stringers">
        {% for stringer in stringersdata %}
        <div class="stringers">
            <h2><a href = '#'>{{stringer.fullName}}</a> </h2>
            <p>{{stringer.dateJoined}}</p>
            <p>{{stringer.sport}}</p>
            <p>{{stringer.cost}}</p>
        </div>
    {% endfor %}
    </div>
</body>
</html>